section.page.home
  h2 Welcome to the classic Tic Tac Toe game
  p If you want to start a game click
    a(href="/game")  Game
    span  from the navigation
  p If you want to check out the hints and tricks click
    a(href="/game")  Info
    span  from the navigation
  p If you want to view the source, check it out
    a(href="https://github.com/DJilanov/TicTacToe")  here
    span .
