body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') TicTacToe
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li
          a(href="/game") Game
        li
          a(href="/info") Info
  .container
    main(data-hook="page-container")
    footer.footer-main
      div Developed by Dimitar Jilanov
